# Environments
venv/
.env
.venv
env/
venv.bak/
.local

# Weights and Artifacts
*.pt
*.ptz
*.pth
*.ckpt
*.onnx

# Logs and Monitoring
logs/
*.log
.wandb/
wandb/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# IDE and Project Meta
.vscode/
.idea/
.gemini/
.antigravity/

# Data
data/datasets/
data/tokenizers/
!data/README.md